@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    
    <p><input type="button" id="button1" value="Buton 1" /></p>
    <p><input type="button" id="button2" value="Buton 2" /></p>

    <p><input type="button" id="button3" value="Buton 3" /></p>

</div>

